.first_loading {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    top: 0;
    left: 0;
}

    .first_loading .steps {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
        .first_loading .steps .middle_line {
            position: absolute;
            top: 49.5%;
            left: 0;
            width: 0;
            height: 1%;
            background-color: #ffffff;
            transition: 2s ease width;
        }
        .first_loading .steps .middle_line.load {
            width: 100%;
        }
        .first_loading .steps .top,
        .first_loading .steps .bottom {
            position: absolute;
            width: 100%;
            height: 50%;
            transition: 2s ease height;
        }
        .first_loading .steps .top.line,
        .first_loading .steps .bottom.line {
            height: 48%;
        }
        .first_loading .steps .top {
            left: 0;
        }
        
        .first_loading .steps .bottom {
            left: 2.5%;
        }

            .first_loading .steps .top > div,
            .first_loading .steps .bottom > div {
                position: absolute;
                width: 25%;
                height: 100%;
                background-color: black;
                transition: 5s ease height, 10s ease background-color;
            }
            .first_loading .steps .top > div.step {
                background-color: #ffffff;
            }
            .first_loading .steps .top,
            .first_loading .steps .top > div {
                top: 0;
            }

            .first_loading .steps .bottom,
            .first_loading .steps .bottom > div {
                bottom: 0;
            }

            .first_loading .steps .top > div:nth-child(2),
            .first_loading .steps .bottom > div:nth-child(2) {
                left: 25%
            }

            .first_loading .steps .top > div:nth-child(3),
            .first_loading .steps .bottom > div:nth-child(3) {
                left: 50%
            }

            .first_loading .steps .top > div:nth-child(4),
            .first_loading .steps .bottom > div:nth-child(4) {
                left: 75%
            }

            .first_loading .steps .top > div.step:first-child {
                height: 110%;
            }
            
            .first_loading .steps .top > div.step:nth-child(2) {
                height: 85%
            }

            .first_loading .steps .top > div.step:nth-child(3) {
                height: 60%
            }

            .first_loading .steps .top > div.step:last-child {
                height: 35%
            }

            .first_loading .steps .bottom > div:first-child {
                width: 30%;
                left: -5%;
            }

            .first_loading .steps .bottom > div.step:first-child {
                height: 90%
            }

            .first_loading .steps .bottom > div.step:nth-child(2) {
                height: 115%
            }

            .first_loading .steps .bottom > div.step:nth-child(3) {
                height: 140%
            }

            .first_loading .steps .bottom > div.step:nth-child(4) {
                height: 165%
            }

                .first_loading .steps .top > div > table,
                .first_loading .steps .bottom > div > table {
                    width: 100% ;
                    height: 100%;
                    color: white;
                    font-family: "Impact", sans-serif;
                    font-size: 96px;
                    font-weight: bolder;
                    text-align: center;
                    opacity: 0;
                    transition: 1s ease opacity, 10s ease color;
                }
                .first_loading .steps .top > div.step table{
                    opacity: 1;
                    color: rgb(0, 0, 0);
                }
                .first_loading .steps .top > div.step:first-child table{
                    transition-delay: 1s;
                }
                .first_loading .steps .top > div.step:nth-child(2) table{
                    transition-delay: 2s;
                }
                .first_loading .steps .top > div.step:nth-child(3) table{
                    transition-delay: 3s;
                }
                .first_loading .steps .top > div.step:nth-child(4) table{
                    transition-delay: 4s;
                }
                    .first_loading .steps .top > div > table td,
                    .first_loading .steps .bottom > div > table td {
                        vertical-align: bottom;
                    }
    .first_loading .forex_graph{
        position: absolute;
        width: 100%;
        bottom: 0;
   }
                    